/**
 * Define animation 'scrollUp'
 */
@-webkit-keyframes scrollUp {
   from { top: 100%; }
   to   { top: -25%; }
}
@-moz-keyframes scrollUp {
   from { top: 100%; }
   to   { top: -25%; }
}
@-o-keyframes scrollUp {
   from { top: 100%; }
   to   { top: -25%; }
}
@keyframes scrollUp {
   from { top: 100%; }
   to   { top: -25%; }
}

/**
 * TweetWall necessary styles
 */
.hipster-tweetwall {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hipster-tweetwall-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.hipster-tweetwall .tweet-container {
    position: absolute;
    top: -5%;
    left: 5%;
    right: 5%;
    height: 5%;
    -webkit-animation-name: scrollUp;
       -moz-animation-name: scrollUp;
         -o-animation-name: scrollUp;
            animation-name: scrollUp;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
       -moz-animation-timing-function: linear;
         -o-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
}
.hipster-tweetwall .tweet-container.running {
    -webkit-animation-play-state: running;
       -moz-animation-play-state: running;
         -o-animation-play-state: running;
            animation-play-state: running;
}
.hipster-tweetwall .tweet-container .date {
    color: gray;
    font-weight: normal;
}

/**
 * The Hipster part, making it Metro-like
 */
body {
    background-repeat: no-repeat;
    background-size: cover;
}
.hipster-tweetwall-overlay {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .60) 100%);
    background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .60) 100%);
    background-image:      -o-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .60) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.hipster-tweetwall .tweet-container {
    font-family: 'Segoe UI', 'Tahoma', 'Lucida Grande', Arial, sans-serif;
}
.hipster-tweetwall .tweet-container > div {
    position: relative;
    min-height: 100px;
    padding: 12px 12px 12px 124px;
}
.hipster-tweetwall .tweet-container .avatar {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 100px;
    height: 100px;
}
.hipster-tweetwall .tweet-container .avatar img {
    width: 100%;
}
.hipster-tweetwall .tweet-container .user {
    display: block;
    color: white;
}
.hipster-tweetwall .tweet-container .tweet {
    color: white;
}
.hipster-tweetwall .tweet-container .date {
    display: none;
}